.show-grid, .text-center, .Heading
{
    align: center;
}
h1
{
    position: relative;
    margin-top: 27%;
}

.Head-1
{
    left: 32.5%;
    vertical-align: middle;
}

.Head-2
{
    right: 35%;
}


.logo
{
    width: 70%;
}

.Menu-items
{

}

.Items
{
    padding-top: 2%;
    list-style: none;
}

li
{
    font-size: 18px;
    display: inline-block;
}



